In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'

In [3]:
# Load data
dataframe = pd.read_csv(url)

In [4]:
# Create function
def uppercase(x):
    return x.upper()

In [5]:
# Apply function, show two rows
dataframe['Name'].apply(uppercase)[0:2]

0    ALLEN, MISS ELISABETH WALTON
1     ALLISON, MISS HELEN LORAINE
Name: Name, dtype: object